<div>
    <button (click)="submitHandler(1)">1</button>
    <button (click)="submitHandler(2)">2</button>
    <button (click)="submitHandler(3)">3</button>
    <br>
    <button (click)="submitHandler(4)">4</button>
    <button (click)="submitHandler(5)">5</button>
    <button (click)="submitHandler(6)">6</button>
    <br>
    <button (click)="submitHandler(7)">7</button>
    <button (click)="submitHandler(8)">8</button>
    <button (click)="submitHandler(9)">9</button>
    <br>
    <button (click)="submitHandler(0)">-</button>
</div>